@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Bookmark toolbar */
#PlacesToolbarItems {
  justify-content: space-around !important;
  height: 36px !important;
}
#PlacesToolbarItems .toolbarbutton-text[value=""] {
  display: none !important;
}
#PlacesToolbarItems label {
  width: initial !important;
}
#PlacesToolbarItems .menu-highlightable-text {
  display: none !important;
}
#TabsToolbar-customization-target toolbaritem {
  background: none !important;
/* Hide folder icon */
@media (-moz-pref("zen.sidebar.bookmarks.hide-folder-icon", true)) {
  #PlacesToolbarItems .toolbarbutton-icon[type="menu"] {
    display: none !important;
  }
  #PlacesToolbarItems > .bookmark-item {
    flex: 1 1 auto !important;
    min-width: max-content !important;
  }
}

/* Single toolbar mode */
[zen-single-toolbar="true"] #TabsToolbar-customization-target:has(#personal-bookmarks) {
  padding-top: 6px !important;
}

/* Customization mode */
[customizing] {
  #TabsToolbar-customization-target {
    visibility: visible !important;
    border: 1px dashed !important;
    border-radius: 2px !important;
    margin-top: 10px !important;
    margin-right: 2px !important;
  }
  #tabbrowser-tabs > * {
    display: none !important;
  }
}
